main{
    background-image: url('assets1/d13a6e0f73ced9899d30b4930c6b619f.jpg') ;
    padding: 30px 0 0 50px;
    margin: 50px;
    min-height: 500px;
}
.header{
    color : whitesmoke;
    font-family:Georgia;
    font-size: 24px;
}
.title{
    font-size: 36px;
    font-weight: bold;
    color: red;
}
.description{
    font-size: 20px;
    color:whitesmoke;
    max-width: 300px;

}
.graduate-regular {
    font-family: "Graduate", serif;
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 0;
    background-color: lightsteelblue;
}
ul{
    list-style-type: none;
    padding: 0;
    color: lightsteelblue;
    font-size: 24px;
    font-weight: bold;
}
ul li{
    display: flex;
    align-items: center;
    gap: 10px;

}
li img{
    width: 20px;
    height: 20px;
}
header section{
    height: 300px;
    width: 200px;
    max-width: 200px;
    max-height: 300px;

    border-radius: 40px;
}
header{
    margin:  50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:rgba(0,0,0,0.7);
    border-radius: 20px;
    height: 350px;

}
#card1{
    background-image: url(assets2/download.jpg) ;

}
#card2{
    background-image: url(assets2/2150061978\(1\).jpg);
}
#card3{
    background-image: url(assets2/pexels-tima-miroshnichenko-5380606\(1\)\(1\).jpg);
}
header section div:hover{
    background-image: linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,0));
    cursor: pointer;
}
header section div{
    color: white;
    height: 299px;
    width: 199px;
    border: 1px solid black;
    border-radius: 40px;

}
.in{
    margin: 150px 10px 0 10px;
    font-weight: bold ;
}
.sm{
    font-size: smaller;
    margin: 1px 10px 1px 10px;
    color: rgba(255,255,255,0.8);
}
.account{
    display: flex;
    align-items: center;
    max-height: 30px;
    margin: 10px;
    gap: 5px;
    
}
.i1{
    height: 26px;
    width: 26px;
    border-radius: 13px;
    border: solid black 1px;
}
header.account section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.s1{
    font-family:'Graduate' ,serif;

}
.i2{
    border: none;
    height: 10px;
    width : 10px;
}
.s2{
    font-family:'Graduate' ,serif;
    color: rgba(255,255,255,0.6);
    font-size: small;

}
footer{
    height: 280px;
    width: 1100px;
    margin: 50px 50px 50px 70px;
    background-color: white;
    padding: 30px 0 0 0;
    border-radius: 40px;
    border: 5px aqua solid;
}
.flex1{
    display: flex;
    align-items: center ;
    justify-content: space-between;
}
.flex2{
    display: flex;
    align-items: center ;   
}
.top button{
    border-radius: 20px;
    border: solid 2px ;
    background-color: rgba(0,0,0,0);
    color: aqua;
    height: 40px;
    width: 80px;
    font-family: cursive;
}
.top span{
    font-size: 20px;
    color: lightslategray;
    font-weight: bold;
    font-family: "Graduate",serif;
}
.top button:hover{
    cursor: pointer;
    border-radius: 50px;
    width: 120px;
    background-color: aqua;
    color: whitesmoke;
    border: blueviolet;   
}
.nimg{
    max-height: 230px;
    border-bottom-left-radius:40px ;
    width: 420px;
}
.top{
    padding: 0 30px;
}
.absoulte{
    position: absolute;
    background-color: rgba(0,0,0,0);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
}
.info{
    padding:  15px 150px 5px 30px ;
    border: 4px solid aqua;
    border-bottom-right-radius: 40px;
    max-height: 240px;
    background-color: azure;
}
.infos{
    font-family:Arial, Helvetica, sans-serif;
    color: aqua;
    border: 3px solid aqua;
    border-radius: 10px;
    width: 50px;
    height: 20px;
    margin: 0 0 10px 0;
    padding-left: 10px;

}
.info article h2{
    margin: 0;
    font-weight: bold;
    font-family: "Graduate";
}
.infos:hover{
    background-color: aqua;
    color: whitesmoke;
    border: blueviolet;
}
.infop{
    font-family: cursive;
}
.n8n{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 15px;
}
.n8 span{
    font-weight: bold;
    font-family: cursive;
    color: deeppink;
}
.date{
    font-family: "Graduate";
    color: lightslategray;
}
.v{
    width: 15px;
    height: 15px;
}
.absoulte:hover{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: aqua;
}
#arrow1{
    left: 25px;
    top:1140px;
}
#arrow2{
    right: 70px;
    top: 1148px;
}
.absoulte img{
    width: 50px ;
    height: 50px ;
}
.rec{
    font-weight: bolder;
    font-family: "Graduate";
    color: royalblue;
    padding: 20px 30px;
    border-radius: 0 50px 0 50px;
    border: solid 3px;
    background-color: lightskyblue;
}
.rdiv{
    padding: 10px;
    background-color: indigo;
    border: solid royalblue 4px;
    border-radius: 60px 0 60px 0;
}